#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Android Waydroid Cage
Categories=Game
Exec=android-waydroid-cage
Hidden=false
Icon=waydroid
Keywords=android;waydroid
StartupNotify=true
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
